<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者トップ画面</title>
    <link rel="stylesheet" href="/admintop.css"> 
</head>
<body>
    <div class="container">
        <h1>管理者トップ画面</h1>
        <div class="link-group">
            <a href="/stores" class="button" id="store_link">店舗管理</a>
            <a href="/products" class="button" id="product_link">商品管理</a>
            <a href="/admin/list" class="button" id="user_link">ユーザ管理</a>
            <a href="/manufacturers" class="button" id="maker_link">メーカ管理</a>
            <a href="/categories/main" class="button" id="category_link">カテゴリ管理</a>
        </div>
    </div>
</body>
</html>
