<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>	ユーザー一覧画面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/adminlist.css}">
</head>
<body>
    <h1>ユーザー一覧画面</h1>
    <p th:text="${message}"></p>

    <table>
        <thead>
            <tr>
                <th>管理者ID</th>
                <th>Email</th>
                <th>姓</th>
                <th>名</th>
                <th>電話番号</th>
                <th>店舗名</th>
                <th>権限</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.email}"></td>
                <td th:text="${admin.lastName}"></td>
                <td th:text="${admin.firstName}"></td>
                <td th:text="${admin.phone}"></td>
                <td th:text="${admin.store.name}"></td>
                <td>
                    <ul>
                        <li th:each="role : ${admin.roles}" th:text="${role.name}"></li>
                    </ul>
                </td>
                <td><a th:href="@{/admin/details/{id}(id=${admin.id})}">詳細を見る</a></td>
            </tr>
        </tbody>
    </table>
	<!-- 新規作成ボタンを表示するための条件 -->
	<div th:if="${isAdmin}">
	    <a th:href="@{/admin/create}" class="button">新規作成</a>
	</div>
</body>
</html>




